/* =================================
    CSS VARIABLES
   ================================= */
:root {
    --primary-color: #3d9eff;
    --secondary-color: #766ED3;
    --text-color: #333;
    --secondary-text-color: #fff;
    --background-color: #f4f4f4;
    --title-font-family: 'Imbue', Arial, sans-serif;
    --header-font-family: 'Notable', Arial, sans-serif;
    --body-font-family: 'Freeman', Arial, sans-serif;
}

/* =================================
    HEADER SECTION
   ================================= */
   .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    padding: 18px 48px;
    border-bottom: 1px solid #208ffe;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
   }
   .page-header .nav-logo {
    
   }
/* =================================
    HERO SECTION
   ================================= */

/* =================================
    NEW MUSIC SECTION
   ================================= */

/* =================================
    SOUND BOARD SECTION
   ================================= */

/* =================================
    ARTICLES SECTION
   ================================= */

/* =================================
    INTERVIEWS SECTION
   ================================= */

/* =================================
    FOOTER SECTION
   ================================= */

/* =================================
    MEDIA QUERIES
   ================================= */